# Compilation subproducts
*.[oa]
*~
*.exe
*.aux
*.mod

# ac/am things
config.status
config.log
missing
install-sh
Makefile
Makefile.in
configure
depcomp
.dirstamp

# m4 things
autom4te.cache
aclocal.m4

# binaries
src/bonded_info/calcRMS_bonded
src/bonded_info/geom_param_list
src/bonded_info/get_com
src/build_top/build_top
src/file_management/fchk2gro
src/file_management/gen_oniom
src/normal_modes/nm_cartesian
src/normal_modes/nm_internal
src/normal_modes/freq2fc
src/normal_modes/prj_nm_internal
src/vibrations/read_state_hess
src/vibrations/check_diag
src/fcclasses_tools/prepare_fcinput  
src/fcclasses_tools/read_dip_fchk 
src/fcclasses_tools/read_state_fchk  
src/fcclasses_tools/read_state_log
src/internal_duschisky/zmat2modredundant 
src/internal_duschisky/internal_duschinsky
src/file_management/get_gscan
src/file_management/get_symatoms
src/ad_hoc_utilities/*
src/gen_oniom/gen_oniom
src/wf_analysis/contribMO
src/wf_analysis/get_NTO_coef
src/joyce_tools/jpp
src/joyce_tools/modify_fchk
src/internal_duschisky/zmat2modredundant
src/cube_tools/density_3D
src/cube_tools/charges_potential
src/file_management/reform_fchk
src/file_management/rmsd_fit
src/bonded_info/max_dist_to_center

# output from test calcs
*output.?
*m4

# The tar files are not in the repo
*gz

# Other aux files that do not go
tmp

# fcclasses_tools (and _dev) is not tracked
src/fcclasses_tools*

