# Compilation subproducts
*.[oa]
*~
*.exe
*.aux
*.mod

# Untraked folder with extra material
EXTRA

# ac/am things
config.status
config.log
missing
install-sh
Makefile
Makefile.in
configure
depcomp
.dirstamp

# m4 things
autom4te.cache
aclocal.m4

# binaries
src/bonded_info/calcRMS_bonded
src/bonded_info/geom_param_list
src/bonded_info/get_com
src/build_top/build_top
src/file_management/get_gscan
src/file_management/get_symatoms
src/file_management/reform_fchk
src/file_management/rmsd_fit
src/file_management/numderX
src/file_management/fchk2gro
src/file_management/gen_oniom
src/file_management/read_scan
src/file_management/read_irc
src/normal_modes/nm_cartesian
src/normal_modes/nm_internal
src/normal_modes/freq2fc
src/normal_modes/prj_nm_internal
src/vibrations/read_state_hess
src/vibrations/check_diag
src/fcclasses_tools/prepare_fcinput  
src/fcclasses_tools/read_dip_fchk 
src/fcclasses_tools/read_state_fchk  
src/fcclasses_tools/read_state_log
src/calc_duschinsky/NewtonRaphson_step
src/calc_duschinsky/cartesian_duschinsky
src/calc_duschinsky/zmat2modredundant 
src/calc_duschinsky/internal_duschinsky
src/calc_duschinsky/generate_internals
src/calc_duschinsky/vertical2adiabatic
src/ad_hoc_utilities/*
src/gen_oniom/gen_oniom
src/wf_analysis/contribMO
src/wf_analysis/get_NTO_coef
src/joyce_tools/jpp
src/joyce_tools/modify_fchk
src/cube_tools/density_3D
src/cube_tools/charges_potential
src/bonded_info/max_dist_to_center
src/normal_modes/internal_numder_analysis
src/normal_modes/vibrations_cart
src/normal_modes/gen_Lder_numx
src/normal_modes/numder_L
src/normal_modes/numder_fc
src/normal_modes/numder_Lint
src/normal_modes/check_derivatives
src/calc_duschinsky/generate_connetivity
src/calc_duschinsky/state2hessian
src/calc_duschinsky/transpose_dusch
src/calc_duschinsky/substract_disps
src/calc_duschinsky/rotate_disp
src/calc_duschinsky/LHA_optimizer
src/normal_modes/prj_grad_on_nm_int

# output from test calcs
*output.?
*m4

# The tar files are not in the repo
*gz

# Other aux files that do not go
tmp

# fcclasses_tools (and _dev) is not tracked
src/fcclasses_tools*

# Auxiliar sources
src/modules/version.f90

